/* v0.1.7 */

@font-face {
	font-family: whitney;
	src: url(whitneymedium.otf);
}

/* Container for flexboxes */
.row {
  display: flex;
  flex-wrap: wrap;
  font-size: 12;
  padding: 4px 4px 4px 20px;
  background: #2f3136;
}

/* Create four equal columns */
.column {
  flex: 15%;
  padding: 20px;
  font-size: 12;
  padding: 4px;
}

/* On screens that are 992px wide or less, go from four columns to two columns */
/* Source: w3schools */
@media screen and (max-width: 992px) {
  .column {
    flex: 30%;
  }
}

/* On screens that are 600px wide or less, make the columns stack on top of each other instead of next to each other */
/* Source: w3schools */
@media screen and (max-width: 600px) {
  .row {
    flex-direction: column;
  }
}

/* width */
::-webkit-scrollbar {
  width: 4px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #2f3136;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #202225;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #202225;
}

/* Style the button that is used to open and close the collapsible content */
.collapsible {
	background-color: #2f3136;
	color: #fafafa;
	cursor: pointer;
	padding: 5px;
	width: 100%;
	border: none;
	text-align: left;
	outline: none;
	font-family: whitney;
	font-size: 14px;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .collapsible:hover {
	background-color: #34373c;
}

/* Style the collapsible content. Note: hidden by default */
.content {
	margin-left: 15px;
	display: none;
	padding-left: 5px;
	color: #fafafa;
	background-color: #2f3136;
	font-family: whitney;
	font-size: 14px;
}

button {
	background-color: #2f3136;
	color: #72767d;
	text-align: left;
	font-size: 14px;
	padding: 10px 10px 10px 20px;
	border: 0;
	width: 300px;
}

button:hover {
	background-color: #34373c;
	color: #72767d;
	text-align: left;
	font-size: 14px;
	border: 0;
}

body {
	background-color: #36393f;
	font-size: 14px;
	font-family: whitney;
	color: #fafafa;
}

td {
	vertical-align: top;
}

p {
	margin: 0px;
	font-size: 18px;
	line-height: 24px;
	vertical-align: top;
}

table {
    table-layout: fixed;
    width: 85%;
	vertical-align: top;
}

h1 {
	font-size: 24px;
	margin-bottom: 4px;
}

h2 {
	font-size: 20px;
	padding-left: 20px;
	padding-top: 8px;
	margin-bottom: 0px;
	background: #2f3136;
}

h3 {
	font-size: 48px;
	margin-top: 32px;
	margin-bottom: 14px;
	margin-left: 20px;
}

.sidebarcontent {
	background-color: #2f3136;
	color: #72767d;
	text-align: left;
	font-size: 14px;
	box-sizing: border-box;
	padding-left: 0px;
	position: fixed;
	bottom: -18px;
	left: 0;
	height: 96%;
	width: 300px;
	overflow: scroll;
}

.sidebar {
	background-color: #2f3136;
	color: #fafafa;
	text-align: left;
	font-size: 14px;
	box-sizing: border-box;
	padding: 0px 0px 15px 15px;
	position: fixed;
	top: 0;
	left: 0;
	height: 6%;
	width: 300px;
}
